@font-face {
	font-family: regulart;
	src: url(Titillium-Regular.otf);
}

@font-face{
	font-family: boldt;
	src: url(Titillium-Bold.otf);
}

body{
	font-family: regulart; 
	background-color: #A79C8E;
}

h1,h2{
	font-family: boldt; 
	text-align: center;
	font-weight: 100;
	font-size: 2.5em;
}

h1{
	color: #F1BBBA;
}

h2{
	color: #F1BBBA;
}

a{
	text-decoration: none;
	font-family: regulart;
	font-weight: 100;
	color: #F1BBBA;
	margin-left: 5px;
}

a:hover{
	color: #EB9F9F;
}

#menu {
	position: fixed;
  	right: 0;
  	top: 50%;
  	width: 8em;
  	margin-top: -2.5em;
  	background-color: #6B5344;
  	color: #F8ECC9;
}

#menu ul{
	height:auto;
	padding: 8px 0px;
	margin: 0px;
}

#menu li{
	display: inline;
	padding: 20px;
}

nav{
	width: 100%;
	background-color: #6B5344;
	height: 50px;
	text-align: center;
	color: #F8ECC9;
}

.container{
	width: 100%;
	background-color: #6B5344;
	height: 50px;
	text-align: center;
	color: #F8ECC9;
}
.heading{
	position: absolute;
	top: 25%;
	width: 500px;
	left: 50%;
	margin-left: -250px;
}

.name{
	color: #F8ECC9;
	font-size: 3.5em;
	height: 35px;
}

.grey{
	background-color: #A79C8E;
}

.beige{
	color: #F8ECC9;
}

.lightpink{
	color: #F1BBBA;
}

.darkpink{
	color: #EB9F9F;
}

.brown{
	background-color: #6B5344;
}