@font-face {
	font-family: regulart;
	src: url(Titillium-Regular.otf);
}

@font-face{
	font-family: boldt;
	src: url(Titillium-Bold.otf);
}

body{
	font-family: regulart; 
	background-color: #A79C8E;
	overflow-x: hidden;
}

html{
	overflow-x: hidden;
}

h1,h2{
	font-family: boldt; 
	text-align: center;
	font-weight: 100;
	font-size: 2.5em;
}

h1{
	color: #FFFFFF;
}

h2{
	color: #FFFFFF;
}

a{
	text-decoration: none;
	font-family: regulart;
	font-weight: 100;
	color: #F1BBBA;
	margin-left: 5px;
}

a:hover{
	color: #EB9F9F;
}

.full{
	margin: 0 -9999rem;
	padding: 0.25rem 9999rem;
	background-color: #000000; 
}
