@font-face {
	font-family: regulart;
	src: url(Titillium-Regular.otf);
}

@font-face{
	font-family: boldt;
	src: url(Titillium-Bold.otf);
}

body{
	font-family: regulart; 
	overflow-x: hidden;
	margin: 0;
	padding: 0;

}

html{
	overflow-x: hidden;
}

h1,h2{
	font-family: boldt; 
	text-align: center;
	font-weight: 100;
	font-size: 2.5em;
}

h1{
	color: #666666;
}

h2{
	color: #FFFFFF;
}

a{
	text-decoration: none;
	font-family: regulart;
	font-weight: 100;
	color: #F1BBBA;
	margin-left: 5px;
}

a:hover{
	color: #EB9F9F;
}

div{
	display: block;
}

.full{
	width: 100%;
	overflow: hidden;
	position: relative;
	top: 0px;
	left: 0px;
	padding: 30px 0px 30px 0px;
	margin: 0px;
	background-color: #000000; 
}

.full ul{
	height:21px;
	padding: 15px 0px;
	margin: 0px;
	text-align: center;
}

.full li{
	display: inline;
	padding: 12px;
}

.full a{
	text-decoration: none;
	font-family: boldt;
	font-weight: 100;
	color: #fff;
	padding: 8px 8px 8px 8px;
	font-size: 1.5em;
	text-align: center;
}

.full a:hover{
	color: #A3A3A3;
}

#title{
	position: absolute;
	top: 25%;
	width: 500px;
	left: 50%;
	margin-left: -250px;
}

#title h1{
	color: #666666;
	font-family: boldt;
	font-size: 2.0em;
	text-align: center;
}

#title h1#name {
	color: #D3649F;
	font-size: 3.5em;
	height: 35px;
}
